<div class="hero bg-base-200 min-h-screen">
  <div
    class="h-[500px] w-full max-w-4xl mx-auto mt-[-20px] rounded-xl shadow-2xl overflow-hidden relative"
    style="background-image: url(https://img.freepik.com/vector-gratis/ups-error-404-ilustracion-concepto-robot-roto_114360-5529.jpg?semt=ais_hybrid&w=740); background-size: cover; background-position: center;"
  >
    
    <div class="absolute inset-0 bg-[#00000080]"></div>
    
    
    <div class="relative z-10 flex items-center justify-center h-full text-white text-3xl font-bold">
      ¡Ups! Página no encontrada
    </div>
  </div>
</div>
